@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover-: #3F4E4F;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px ;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    font-size: 1.5625rem;
    color: var(--cor-hover-);
}

.apresentacao {
    padding: 9% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__curriculo {
    width: 50%;
    height: 2000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  
}

.titulo {
    font-size: 2rem;
    font-family:var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.conteudo {
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.conteudo-destaque {
    color: var(--cor-secundaria);
    font-size: 1.4rem;
    
} 

.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__links__navegacao {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    width: 70%;
    display: flex;
    justify-content: center;
}
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover-);
}

.foto_perfil{
    width: 25%;
    border-radius: 18px;
    border: 2px solid var(--cor-terciaria);
    
    
}

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
    
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
   
}